<a id="logo" href="{{ .Site.BaseURL }}">
    <svg
        xmlns:dc="http://purl.org/dc/elements/1.1/"
        xmlns:cc="http://creativecommons.org/ns#"
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:svg="http://www.w3.org/2000/svg"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        id="svg179483"
        version="1.1"
        viewBox="0 0 107.91786 52.916723"
        style="width:100%; height:100%;">
  <defs
     id="defs179477" />
  <metadata
     id="metadata179480">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     transform="translate(-12.961248,-224.46166)"
     id="layer1">
    <g
       id="g180120">
      <ellipse
         transform="matrix(-0.07754829,0.9969886,-0.99317428,-0.11663985,0,0)"
         ry="5.7996831"
         rx="22.034641"
         cy="-68.859497"
         cx="182.89189"
         id="path893"
         style="opacity:0;fill:#000000;stroke-width:0.29795077" />
    </g>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:47.08587646px;line-height:1.25;font-family:MathJax_Typewriter;-inkscape-font-specification:'MathJax_Typewriter, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#000000;fill-opacity:1;stroke:none;stroke-width:12.34969139"
       x="19.948143"
       y="174.74361"
       id="text180030"
       transform="scale(0.63184997,1.5826542)"><tspan
         id="tspan180028"
         x="19.948143"
         y="174.74361"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:47.08587646px;font-family:MathJax_Typewriter;-inkscape-font-specification:'MathJax_Typewriter, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;stroke-width:12.34969139">MrCoder</tspan></text>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:2.56813812px;line-height:1.25;font-family:'Ubuntu Mono';-inkscape-font-specification:'Ubuntu Mono, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#73ab5f;fill-opacity:1;stroke:none;stroke-width:0.06420345"
       x="-244.72531"
       y="17.58206"
       id="text180034"
       transform="matrix(-0.00110427,-1.0929059,0.9149907,-0.00114646,0,0)"><tspan
         id="tspan180032"
         x="-244.72531"
         y="17.58206"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:2.56813812px;font-family:'Ubuntu Mono';-inkscape-font-specification:'Ubuntu Mono, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#73ab5f;fill-opacity:1;stroke-width:0.06420345">#include &lt;stdio.h&gt;</tspan></text>
    <text
       transform="matrix(-0.00110427,-1.0929059,0.9149907,-0.00114646,0,0)"
       id="text180042"
       y="28.04365"
       x="-244.7363"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:2.56813812px;line-height:1.25;font-family:'Ubuntu Mono';-inkscape-font-specification:'Ubuntu Mono, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#73ab5f;fill-opacity:1;stroke:none;stroke-width:0.06420345"
       xml:space="preserve"><tspan
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:2.56813812px;font-family:'Ubuntu Mono';-inkscape-font-specification:'Ubuntu Mono, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#73ab5f;fill-opacity:1;stroke-width:0.06420345"
         y="28.04365"
         x="-244.7363"
         id="tspan180040">#include &lt;stdlib.h&gt;</tspan></text>
    <text
       xml:space="preserve"
       style="font-style:normal;font-weight:normal;font-size:2.63532495px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#73ab5f;fill-opacity:1;stroke:none;stroke-width:0.06588313"
       x="114.32946"
       y="258.28601"
       id="text180060"
       transform="matrix(0.93849797,-0.00533499,0.00714352,1.0654918,0,0)"><tspan
         id="tspan180058"
         x="114.32946"
         y="258.28601"
         style="fill:#73ab5f;fill-opacity:1;stroke-width:0.06588313">0x57</tspan></text>
    <text
       xml:space="preserve"
       style="font-style:normal;font-weight:normal;font-size:2.64136362px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#73ab5f;fill-opacity:1;stroke:none;stroke-width:0.0660341"
       x="-85.840019"
       y="230.7789"
       id="text180060-7"
       transform="matrix(0.58915246,-0.71968841,0.717766,0.82055524,0,0)"><tspan
         id="tspan180058-8"
         x="-85.840019"
         y="230.7789"
         style="fill:#73ab5f;fill-opacity:1;stroke-width:0.0660341">0x59</tspan></text>
    <ellipse
       ry="3.0427084"
       rx="2.0505209"
       cy="264.15289"
       cx="68.764267"
       id="path180242"
       style="opacity:1;fill:#000000;fill-opacity:1;stroke:none;stroke-width:4.12750006;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;paint-order:stroke fill markers" />
    <ellipse
       ry="3.0427084"
       rx="2.0505209"
       cy="264.32394"
       cx="83.569588"
       id="path180242-2"
       style="opacity:1;fill:#000000;fill-opacity:1;stroke:none;stroke-width:4.12750006;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;paint-order:stroke fill markers" />
    <text
       transform="matrix(1,0,0,0.99125117,-0.52916723,2.3868376)"
       x="-0.52916723"
       id="text1104"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:6.35000658px;line-height:1.25;font-family:'Ubuntu Mono';-inkscape-font-specification:'Ubuntu Mono, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;opacity:1;fill:#73ab5f;fill-opacity:1;stroke:none;stroke-width:0.26458362;"
       xml:space="preserve"><textPath
         id="textPath1133"
         xlink:href="#path1129"><tspan
   id="tspan1102"
   style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:2.82222533px;font-family:'Ubuntu Mono';-inkscape-font-specification:'Ubuntu Mono, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#73ab5f;fill-opacity:1;stroke-width:0.26458362;">λf.(λx.f(x x)) (λx.f(x x))</tspan></textPath></text>
    <ellipse
       transform="matrix(-0.00696313,0.99997576,-0.98922382,-0.1464112,0,0)"
       ry="3.8613245"
       rx="17.709063"
       cy="-53.659695"
       cx="245.66827"
       id="path1129"
       style="opacity:1;fill:none;fill-opacity:1;stroke-width:0.16135114" />
  </g>
</svg>
</a>